/*************************************************************************
* Main CSS
*************************************************************************/
body {
	width:1000px;
	margin: 0px auto;
	border:0;
	padding:0;
	/*background-color:#cccccc;*/
}
/*************************************************************************
* Container
*************************************************************************/
.container {
    position:relative;
	width:900px;
	
}
/*************************************************************************
* Header
*************************************************************************/
.header { 
	width: 100%;
	margin-top: 100px;
	background-color:#cccccc;
}
/*************************************************************************
* Navigation
*************************************************************************/
.nav{
	position:absolute;
	width: 1000px;
	border:none;
	border:0px;
	margin:0px;
	padding:0px;
	font-family:verdana,geneva,arial,helvetica,sans-serif;
	font-size:14px;
	font-weight:bold;
	color:8e8e8e;
	}
.nav ul{
	background:url(images/menu-bg.gif) top left repeat-x;
	height:43px;
	list-style:none;
	margin:0;
	padding:0;
	}
	.nav li{
		float:left;
		padding:0px 8px 0px 8px;
		}
	.nav li a{
		color:#666666;
		display:block;
		font-weight:bold;
		line-height:43px;
		padding:0px 25px;
		text-align:center;
		text-decoration:none;
		}
		.nav li a:hover{
			color:#000000;
			text-decoration:none;
			}
	.nav li ul{
		background:#e0e0e0;
		border-left:2px solid #a80329;
		border-right:2px solid #a80329;
		border-bottom:2px solid #a80329;
		display:none;
		height:auto;
		filter:alpha(opacity=95);
		opacity:0.95;
		position:absolute;
		width:225px;
		z-index:200;
		/*top:1em;
		/*left:0;*/
		}
	.nav li:hover ul{
		display:block;
		}
	.nav li li {
		display:block;
		float:none;
		padding:0px;
		width:225px;
		}
	.nav li ul a{
		display:block;
		font-size:12px;
		font-style:normal;
		padding:0px 10px 0px 15px;
		text-align:left;
		}
		.nav li ul a:hover{
			background:#949494;
			color:#000000;
			opacity:1.0;
			filter:alpha(opacity=100);
			}
	.nav p{
		clear:left;
		}	
	.nav .active > a{
		background:url(images/current-bg.gif) top left repeat-x;
		color:#ffffff;
		}
	.nav .active > a:hover {
		color:#ffffff;
		}
/*************************************************************************
* Main Content
*************************************************************************/
.main_content {
	margin-top: 48px;
    position: absolute;
    padding: 20px;
	width: 960px;
	background-color:#cccccc;
}


/*************************************************************************
* Footer
*************************************************************************/
.footer {
	clear: both;
	}